<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>RecordEdit</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1>RecordEdit</h1>
	<form th:action="@{/record/edit/{rid}(rid = ${r.id})}" method="post">
		<label>値を変更してね</label>
		<input type = "number" th:value = "${r.recordValue}" name = "recordValue" step="0.1"/><br>
		<label>コメントを変更してね</label>
		<input type = "text" th:value = "${r.comment}" name = "comment"/>
		<input type = "submit" value = "Update"/>
	</form>
	<a th:href = "@{/record/{sid}(sid = ${r.sqm.getId()})}">re</a>
	<a th:href = "@{/}">Top</a>
</body>
</html>