<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>ValueEdit</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1 th:text = "${value.value}"></h1>
	<form th:action="@{/value/edit/{id}(id = ${value.id})}" method="post">
		<input type = "text" th:value = "${value.value}" name = "value"/>
		<input type = "number" th:value = "${value.ranking}" name = "ranking"/>
		<input type = "submit" value = "Update"/>
	</form>
	<a th:href = "@{/}">Top</a>
</body>
</html>