<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>ExtraQuestEdit</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1>ExtraQuestEdit</h1>
	<form th:action="@{/eq/edit/{eid}(eid = ${eqm.id})}" method="post">
		<label>クエスト名を変えてね</label>
		<input type = "text" th:value = "${eqm.extraQuestName}" name = "extraQuestName"/>
		<label>一回クリアした時に溜まるガチャポイントを変えてね</label>
		<input type = "number" th:value = "${eqm.experiencePoint}" name = "experiencePoint"/>
		<input type = "submit" value = "Update"/>
	</form>
	<a th:href = "@{/eq}">re</a>
	<a th:href = "@{/}">Top</a>
</body>
</html>