<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>BigQuestEdit</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
	<h1>BigQuestEdit</h1>
	<form th:action="@{/bq/edit/{bid}(bid = ${bqm.id})}" method="post">
		<input type = "text" th:value = "${bqm.questName}" name = "questName"/>
		<select  name = "valueModel">
		<option th:selected = "${vm.id == bqm.valueModel.getId()}" th:each = "vm : ${vms}" th:value = "${vm.id}" th:text = "${vm.value}" name = "value_model"></option>
		</select>
		<input type = "submit" value = "Update"/>
	</form>
	<a th:href = "@{/bq}">re</a>
	<a th:href = "@{/}">Top</a>
</body>
</html>