<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>GachaResult</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1>GachaResult</h1>
	<p th:text = "${selectedGItem}"></p>
	<a th:href = "@{/gacha}">Gacha</a>
	<a th:href = "@{/}">Top</a>
</body>
</html>