<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<title>GachaItem</title>
<link th:href="@{/css/content.css}" rel="stylesheet">
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1>GachaItems</h1>
	<table>
	  <thead>
		<tr>
			<th>ItemName</th>
			<th>Rarity</th>
			<th></th>
			<th></th>
		</tr>
	  </thead>
	  <tbody>
	  	<tr th:each = "gitem : ${gitems}">
	  		<td th:text ="${gitem.gItem}"></td>
	  		<td th:text = "${gitem.rarity.getRarityName()}"></td>
	  		<td><a th:href = "@{/gacha/item/edit/{gIid}(gIid = ${gitem.id})}" >Edit</a></td>
	  		<td>
	  		  <form th:action="@{/gacha/item/delete/{gIid}(gIid=${gitem.id})}" method="post">
                <input type="submit" value="delete" />
              </form>
	  		</td>
	  	</tr>
	  </tbody>	
	</table>
	<a th:href = "@{/gacha}">Gacha</a>
	<a th:href = "@{/gacha/item/new}">NewGachaItemCreate</a>
	<a th:href = "@{/}">Top</a>
</body>
</html>