<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
   content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
<link th:href="@{/css/content.css}" rel="stylesheet">
<title>GachaGacha</title>
</head>
 <header class="site-header">
	<a th:href = "@{/}">C.O.R.E</a>
 </header>
<body>
	<h1>NewGachaItem</h1>
	<form th:action="@{/gacha/item/new}" method="post">
		<label>GachaItemName</label>
		<input type = "text" name = "gItem"/>
		<label>GachaItemRarity</label>
		<select  name = "rarity_model_id">
		<option th:each = "rm : ${rms}" th:value = "${rm.id}" th:text = "${rm.rarityName}" name = "rarity_model_id"></option>
		</select>
		<input type = "submit" value = "Create"/>
	</form>
	<a th:href = "@{/gacha/item}">Gacha Items</a>
	<a th:href = "@{/}">re</a>
</body>
</html>